:host {
    background-color: rgb(18, 135, 238);
    color: white;
    border-radius: 5px;
    display: block;
    font-size: 2rem;
    height: 140px;
    margin-bottom: 15px;
    text-align: center;
    padding: 15px;
}